/*---- Estilos generales para etiquetas ---*/

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html {
    font-size: 62.5%;
}

header {
    width:100%;
    height: 8rem;
    font-size: 1.6rem;
    font-weight: lighter;
    text-align: center;
    align-content: center;
    margin: 2rem 2rem;
}

main {
    width:100%;
    height: auto;
    display: grid;
    justify-content: center;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

p{
    color:black;
    font-weight: lighter;
}

/*--- Estilos de la seccion de lenguajes ---*/

.languajes-container {
    list-style: none;
    display: grid;
    grid-template-columns: 5rem repeat(5, 10rem) 5rem;
    grid-template-rows: repeat(5,8rem);
    justify-content: center;
    
    font-size: 1.6rem;
}

.languajes {
    text-align: center;
}

.languajes:nth-of-type(1){
    grid-area: 1/2/2/4;
    justify-self: end;
}

.languajes:nth-of-type(2){
    grid-area: 2/2/3/4;
    justify-self: start;

}

.languajes:nth-of-type(3){
    grid-area: 3/1/4/3;
    justify-self: start;
}

.languajes:nth-of-type(4){
    grid-area: 4/2/5/4;
    justify-self: start;
}

.languajes:nth-of-type(5){
    grid-area: 5/2/6/4;
    justify-self: end;
}

.img-lang {
    grid-area: 1/3/6/6;
    justify-items: center;
    width: auto;
    height: 25rem;
    justify-content: center;
    align-self: center;
}

.languajes:nth-of-type(7){
    grid-area: 1/5/2/7;
    justify-self: start;
}

.languajes:nth-of-type(8){
    grid-area: 2/5/3/7;
    justify-self: end;
}

.languajes:nth-of-type(9){
    grid-area: 3/6/4/8;
    justify-self: end;
}

.languajes:nth-of-type(10){
    grid-area: 4/5/5/7;
    justify-self: end;
}

.languajes:nth-of-type(11){
    grid-area: 5/5/6/7;
    justify-self: start;
}

/*---  Seccion de busqueda ----*/

.img-lang img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main-container-search {
    display: flex;
    justify-content: center;
    margin: 3rem;
}

.container-search {
    display: flex;
    border: .16rem solid #515055;
    align-items: center;
    width: 42rem;
    height: 4rem;
}

.container-search input{
    border: none;
    outline: none;
}

.search-icon {
    width: 4rem;
    height: 4rem;
    background-image: url('https://img.icons8.com/android/24/000000/search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: .45;
}

/*---- seccion de commons o servicios ----*/

.main-commons {
    display:grid;
    grid-template-columns: repeat(4, 25%);
    grid-auto-rows: 8rem;
    gap: 1.6rem;
    margin-top: 4rem;;
}

.commons-container {
    display: flex;
}
.commons-container img {
    width: 4rem;
    height: 4rem;
    margin-right: 0.4rem;
}

/*---- footer ----*/